## Q1.Given the sets of events

sports_winners = set(["Jake", "John","Eric","Geetha","Femi","Kala"])
quiz_winners = set(["John", "Jill","Eric","Geetha","Femi"])
1. print the winners who got sports prize and quiz prize

In [2]:
sports_winners = set(["Jake", "John","Eric","Geetha","Femi","Kala"])
quiz_winners = set(["John", "Jill","Eric","Geetha","Femi"])

In [3]:
print (sports_winners & quiz_winners)

{'John', 'Geetha', 'Eric', 'Femi'}

2. print the winners who got sports prize and not quiz prize

In [4]:
print(sports_winners - quiz_winners)

{'Jake', 'Kala'}

3. print the winners who either sports prize or quiz prize

In [5]:
print (sports_winners.union(quiz_winners))

{'Jake', 'Jill', 'Kala', 'John', 'Femi', 'Eric', 'Geetha'}

4. print the winners who got quize prize and not sports prize

In [6]:
print(quiz_winners - sports_winners)

{'Jill'}

## Question 2:
Consider the set with some integers given below
myset = {12,34,56,3,45,67,89,1,6}

1. Create set by filtering even numbers

In [12]:
myset = set([12,34,56,3,45,67,89,1,6])

In [13]:
myset1=set([])

In [14]:
myset2=set([])

In [15]:
for val in myset:
    if val%2==0:
        myset1.add(val)
    else:
        myset2.add(val)

In [16]:
print(myset1)

{56, 34, 12, 6}

2.Create set by filtering odd numbers

In [17]:
print(myset2)

{1, 67, 3, 45, 89}

3. Create set by filtering numbers>20

In [19]:
myset3=set([])

In [20]:
for val in myset:
    if val>20:
        myset3.add(val)

In [21]:
print(myset3)

{34, 67, 45, 56, 89}

4. remove the item 56 and create a new set

In [28]:
myset.remove(56)

In [29]:
myset4=myset

5. state the difference between remove() & discard() on the set.

The discard() method removes the specified item from the set. This method is different from the remove() method, because the remove() method will raise an error if the specified item does not exist, and the discard() method will not.

## Question 3:
Date and Time

1. Print the Date after 1 week and 6 days from the current date

In [2]:
import datetime

In [5]:
current_date = datetime.date.today()

In [14]:
from datetime import timedelta

In [15]:
new_date=current_date+timedelta(days=13)

In [17]:
print(new_date)

2023-10-11

2. Given the birthday as date(2000,10,2), find the age

In [21]:
birthday=date(2000,10,2)

In [22]:
Age=current_date-birthday

In [30]:
Age=Age.total_seconds()

In [31]:
Age=Age/(365.25*24*60*60)

In [32]:
Age

22.986995208761122

3. Subtract five days from the current date and display it.

In [34]:
Day5minus=current_date-timedelta(days=5)

In [36]:
print(Day5minus)

2023-09-23

4. Display the dates of yesterday, today and tomorrow

In [37]:
yesterday=current_date-timedelta(days=1)

In [38]:
print(yesterday)

2023-09-27

In [39]:
tomorrow=current_date+timedelta(days=1)

In [40]:
print(tomorrow)

2023-09-29

In [41]:
print(current_date)

2023-09-28

## Question 4:
Consider the folowing strings, string1="Great", string2="Learning" and string3="Python".
Perform the following operations on the given strings

In [44]:
string1="Great"
string2="Learning"
string3="Python"

a. Concatenate them to create a single string called "single_string"

In [46]:
single_string=string1+string2+string3

In [47]:
single_string

'GreatLearningPython'

b. Access and print the first and last characters of "single_string"

In [49]:
single_string[0]

'G'

In [50]:
single_string[-1]

'n'

c. Reverse the "single_string" and save it in "rev_string"

In [51]:
rev_string=single_string[::-1]

In [52]:
rev_string

'nohtyPgninraeLtaerG'

d. Extract the word "Learning" from "single_string"

In [56]:
sub_string=single_string[5:13]

In [57]:
sub_string

'Learning'

## Question 5:

In [19]:
"""Consider the given sentence "Hello! Great Learning. Now start learning Python."
a. In the given sentence where is the word "Learning"?:
b. In the given sentence where is the first occurrence of the letter "e"?:
c. In the given sentence where is the first occurrence of the letter "e" when you only search
between position 5 and 10?:
d. Display the list of words in the sentence
"""

'Consider the given sentence "Hello! Great Learning. Now start learning Python."\na. In the given sentence where is the word "Learning"?:\nb. In the given sentence where is the first occurrence of the letter "e"?:\nc. In the given sentence where is the first occurrence of the letter "e" when you only search\nbetween position 5 and 10?:\nd. Display the list of words in the sentence\n'

In [6]:
#Question 5:

#Consider the given sentence "Hello! Great Learning. Now start learning Python."
sentense="Hello! Great Learning. Now start learning Python."

#a. In the given sentence where is the word "Learning"?:

print(sentense.index('Learning'))

#b. In the given sentence where is the first occurrence of the letter "e"?:
print(sentense.index('e'))

#c. In the given sentence where is the first occurrence of the letter "e" when you only search
#between position 5 and 10?:
print(sentense.index('e',5,10))

#d. Display the list of words in the sentence
print(sentense.split())

13
1
9
['Hello!', 'Great', 'Learning.', 'Now', 'start', 'learning', 'Python.']

## Question 6:

In [7]:
""""
Question 6:
Build a program that analyzes a text document (a long string) and uses a dictionary to count the
frequency of each word. You can then display the 5 most common words and their counts.
"""

'"\nQuestion 6:\nBuild a program that analyzes a text document (a long string) and uses a dictionary to count the\nfrequency of each word. You can then display the 5 most common words and their counts.\n'

In [8]:
def Analyzetext(txt):
    dict_text_document={}
    for word in txt.split():
        dict_text_document[word]=dict_text_document.setdefault(word,0)+1
        
     #print(dict_text_document)
    sorted_dict = dict(sorted(dict_text_document.items(), reverse=True,key=lambda item: item[1]))
    return sorted_dict
     
text_document = """
This is a sample text document. It contains some sample words that will be counted to find the most common words. 
The program will analyze the text and display the top 5 most common words and their counts.
"""
output=Analyzetext(text_document)
count=0
for key,values in output.items():
    print(key,':',values)
    count=count+1
    if count==5:
        break

the : 3
sample : 2
text : 2
words : 2
will : 2

## Question 7:

In [9]:
"""
Question 7:
Given a list of tuples, consisting of employee_name and total_bonus_points. Find the best 3
employees who are having the highest score. Write a function find_best_employer, which takes
the list of tuples as argument and prints the names of top three employees
Sample Input:
[(‘Sanju’,321), (‘Reva’,671), (‘Darvin’,233), (‘Velan’,922), (’Satya’,223), (‘Vanathi’,102)]
Expected Output:
The top three employees for the year are Velan, Reva and Sanju
"""

'\nQuestion 7:\nGiven a list of tuples, consisting of employee_name and total_bonus_points. Find the best 3\nemployees who are having the highest score. Write a function find_best_employer, which takes\nthe list of tuples as argument and prints the names of top three employees\nSample Input:\n[(‘Sanju’,321), (‘Reva’,671), (‘Darvin’,233), (‘Velan’,922), (’Satya’,223), (‘Vanathi’,102)]\nExpected Output:\nThe top three employees for the year are Velan, Reva and Sanju\n'

In [10]:
#Question 7:
#Given a list of tuples, consisting of employee_name and total_bonus_points. Find the best 3
#employees who are having the highest score. Write a function find_best_employer, which takes
#the list of tuples as argument and prints the names of top three employees
#Sample Input:
#[(‘Sanju’,321), (‘Reva’,671), (‘Darvin’,233), (‘Velan’,922), (’Satya’,223), (‘Vanathi’,102)]
#Expected Output:
#The top three employees for the year are Velan, Reva and Sanju

In [11]:
def find_best_employer(employee_lst):
    employee_lst.sort(reverse=True,key=lambda x: x[1])
    if len(employee_lst) >= 3:
        return print(f"The top three employees for the year are {employee_lst[0][0]}, {employee_lst[1][0]}, and {employee_lst[2][0]}")

employees = [('Sanju',321), ('Reva',671), ('Darvin',233), ('Velan',922), ('Satya',223), ('Vanathi',102)]

find_best_employer(employees)

The top three employees for the year are Velan, Reva, and Sanju